/** Common styling for FreeHack app **/

body {
    color: #292f33;
    background-color: #f5f8fa;
}

#content {
	margin: 20px 0;
}

#content a {
    cursor: pointer;
}

.action-dark {
    background-color: #292f33;
}

.icons-dark {
    background-color: #66757f;
}

.head-dark {
    background-color: #8899a6;
}

.subhead-dark {
    background-color: #ccd6dd;
}

.light-background {
    background-color: #e1e8ed;
}

.light {
    background-color: #f5f8fa;
}

/** Nav Bar **/

.signout a {
  color: #f0657f;
}

.signout a:hover {
  color: #db405d;
}

/** Log In **/

.logInPage {
    max-width: 400px;
    margin: 15px auto;
}

/** Inputs **/

.cancelLink, .delete {
  color: #f0657f;
}

.cancelLink:hover, .delete:hover {
  color: #db405d;
}

.inputEditWrapper .input-group-addon {
  background-color: transparent;
  border: none;
}

.verifiedGlyph {
  vertical-align: top;
  color: #5cb85c;
}

.placeholder, a.disabled, a.disabled:hover {
  color: #b2b2b2;
}

.placeholder, a.disabled, a.disabled:hover {
  color: #b2b2b2;
}


